<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
  <title>Mission to Mars</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <img class="img-fluid img-rounded img-responsive" src= "{{ mars.featured_image_url }}" >
      </div>
    </div>
  </div>

  <br>

  <div id="subheader" class="container">
  <div class="row">
    <h1 id="news_title" class="col-sm-12 text-center">{{ mars.news_title }}</h1>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center">{{ mars.news_p }}</h4>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h2>Current Weather on Mars:</h2>
            </div>
            <div>
                <h3>{{ mars.mars_weather }}</h3>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Mars Data:</h2>
            <h3>{{ mars.mars_facts | safe }}</h3>
        </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Martian Hemispheres</h2>
      </div>
    </div>

    <div class="row">
        {% for object in mars.hemisphere_image_urls %}
        <div class="col-md-6">
          <img class="img-fluid img-rounded img-responsive" src="{{ object.img_url }}">
          <h3>{{ object.title }}</h3>
        </div>
        {% endfor %}
    </div>

  </div>
</body>
</html>
